<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>firstSpringMvcApp</title>
</head>
<body>
    <form method="post" action="/signin">
        <fieldset>
            <legend>Sign In</legend>
            email:<input name="email" type="email">
            <br>
            password:<input name="password" type="password">
            <br>
            <button type="submit">Submit</button>
            <br>
            <p>Don't have an account? <a href="/register">Register</a></p>
        </fieldset>
    </form>
</body>
</html>